@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

/* === Общие стили === */
* {
    font-family: 'Comfortaa', cursive, sans-serif;
    /* margin: 0;
    padding: 0; */
}

.center {
    width: 80%;
    margin: 0 auto;
}

/* === Шапка === */
header .center {
    border-bottom: 1px solid gray;
}

.header__title {
    margin: 50px 0 20px;
}

.header__table {
    width: 100%;
}

.header__cell {
    line-height: 250%;
    padding-right: 30px;
}

.header__col1 {
    width: 100px;
}

/* === Работы === */

/* --- Таблица в целом --- */
.content {
    padding: 50px 0;
}

.content__table {
    width: 100%;
}

.content__cell {
    padding: 10px;
}

th {
    border-bottom: 1px dashed gray;
}

.content__cell + td, .content__cell + th {
    border-left: 1px dashed grey;
}

/* --- Первый столбец --- */
.content__col1 {
    text-align: center;
}

.content__col1 img {
    width: 400px;
    border: 1px solid grey;
}

.content__link {
    color: black;
    text-decoration: none;
}

.content__link:hover {
    text-decoration: underline;
}

/* --- Второй столбец --- */
.content__col2 li {
    margin-bottom: 10px;
}

/* --- Третий столбец */
.content__col3 {
    padding-left: 25px;
    padding-right: 25px;
}

.done {
    position: relative;
}

.done::after {
    content: '';
    position: absolute;
    background-image: url('img/done.jpg');
    background-size: cover;
    width: 160px;
    height: 142px;
    display: none;
}

.done:hover::after {
    display: block;
}
